<header>
    <div class="header-content">
        <div class="header-branding">
            <a href="/"><img src="/images/multivocal_logo.svg" alt="Multivocal logo" class="header-branding-image"></a>
        </div>

        <div class="header-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav class="header-navigation">
            <ul>
                <li class="header-navigation-item">
                    <a href="/">Home</a>
                </li>
                <li class="header-navigation-item">
                    <a href="/contribute-voice">Contribute voice</a>
                </li>
                <li class="header-navigation-item">
                    <a href="/rate-voices">Rate existing</a>
                </li>
                <li class="header-navigation-item">
                    <a href="/about">About</a>
                </li>
                <li class="header-navigation-item">
                    <a href="/events">Events</a>
                </li>
                <li class="header-navigation-item">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>