<h1>About Multivocal</h1>

<p>What are the politics and aesthetics of synthesized voices? What notions of identity, personhood and will do we ascribe to the synthesized voices communicating with us?</p>

<p>Living in a world where machines are talking to us with voices, personalities and emotional expressions, we believe it is important to discuss questions of representation, character design and aesthetics. Most of the synthesized voices we hear from our mobile phones, smart assistants, and in transportation systems have one vocal identity. This could be different.</p>

<p>[multi’vocal] is an ever-evolving non-binary synthesized voice created by a (digital) community of participants with different age, gender, and geographical origin. We seek to create an open source and participatory alternative to the proprietary voices with singular identities. We present iterations of the voice on events and talks but the voice is currently not available online.</p>

<br>

<h2>Who are we?</h2>
<p>The [multi’vocal] collective is an art and research based community exploring synthesized voices with a feminist activist approach.</p>

<h3>Alice Emily Baird</h3>
<p>Alice is a sound artist and researcher from the UK. Currently a research assistant and Ph.D. candidate for the Chair of Complex and Intelligent Systems, Passau University, Germany. Alice works across an array of disciplines, predominately exploring the
    intersections between scientific research and the arts, with particular focus on the human experience and perception of sound. Alice has shown work at venues including; Basilica Hudson (Hudson, NY, USA), Pioneer Works (New York, NY, USA), PACE (New York,
    NY, USA) and Parker Gallery (Whitechapel, London, UK). Alice recently completed her MFA in Sound Arts at Columbia University, New York City - where she was in residence at Columbia's Computer Music Centre.</p>

<h3>Frederik Tollund Juutilainen</h3>
<p>Frederik is a software developer and programmer from Copenhagen. He has a degree in philosophy and computer science from Roskilde University and now works in the development and programming of digital-/physical installations. Frederik works in interdisciplinary
    teams and in fields including, object-oriented and functional programming, machine learning, evolutionary algorithms, parametric design, audio design and programming of micro-controllers. Alongside his work he actively contributes to and publishes open-source
    software. Frederik is also a DJ celebrating disco and the likes.</p>

<h3>Stina Hasse Jørgensen</h3>
<p>Stina is a PhD fellow at the Department of Arts and Cultural Studies, University of Copenhagen, where she is researching the politics and aesthetics of synthesized voices. Stina has published articles on art, technology and sound in magazines and journals
    such as Transformations Journal of Media & Culture, Body, Space & Technology Journal, Cultural Analysis, Seismograf, and kunsten.nu. She has given papers at conferences such as TERRÆN, ISEA, Aesthetics, Ethics and Biopolitics of the Posthuman, Global
    Lives Project - UC Berkeley, Re-New IMAC, and NORDIK. Stina is also a practitioner of art with a focus on data, sound and technology. She has presented her work in places such as Den Frie Udstillingsbygning, NLHspace, DIAS - Digital Interactive Art Space,
    Wundergrund Festival, BEAM festival, Atelier Hotel Pro Forma, MIX Copenhagen, LAK festival.</p>

<h3>Mads Steensig Pelt</h3>
<p>Mads is a programmer residing in Copenhagen. He works with backend development and software architecture for a Danish IT startup. He has experience with a wide-array of platforms and web frameworks. In his spare time he is an avid collector of exotica
    music, and likes to work with sound/music, recording, and production.</p>

<h3>Nina Cecilie Højholdt</h3>
<p>Nina is an is interaction designer and developer from Copenhagen. She has a bachelor from the IT University and is currently on the last year of her Masters in Interaction Design at Malmö University. Futhermore, she is a part of a tech/art collective, building interactive installtions for museums, festivals, conferences and so on.</p>
