
<h1>Contribute voice</h1>
<p>Thanks for helping! Press record, give access to your microphone, and then say the text below</p>

<p id="transcription"></p>

<button id="start-recording" class="button">Record</button>
<button id="stop-recording"  class="button" disabled="true">Stop</button>

<p id="recording-message"></p>

<div id="waveform"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.microphone.min.js"></script>
<script src="js/plugins/recorder.js"></script>
<script src="js/contribute_voice.js"></script>
