
<h1>Contribute voice</h1>
<p>Thanks for helping! Press record, give access to your microphone, and then say the text below</p>

<p id="transcription"></p>

<button id="start-recording">Record</button>
<button id="stop-recording" disabled="true">Stop</button>

<p id="recording-message"></p>

<div id="waveform"></div>

<script src="js/recorderjs/recorder.js"></script>
<script src="js/contribute_voice.js"></script>