<h1>Contact</h1>

<p>Find us on <a href="https://www.instagram.com/_multivocal/" target="_blank">instagram</a> and <a href="https://github.com/multivocal"  target="_blank">github</a> </p>
<br>
<p>or send us an email at <a href="mailto:nhoejholdt@gmail.com">nhoejholdt@gmail.com</a></p>
<br>
<a href="mailto:nhoejholdt@gmail.com"><img class="contact-email-image" src="http://www.uptownelectric.com/images/animated-email.gif" alt="" class="email-gif"></a>
