contribute voice here
<br>

<button id="start-recording">Record</button>
<button id="stop-recording" disabled="true">Stop</button>

<h2>Recordings</h2>
<div id="recordings"></div>

<div id="waveform"></div>

<script src="js/recorderjs/recorder.js"></script>
<script src="js/contribute_voice.js"></script>