contribute voice here

<button id="start-recording">Record</button>
<button id="stop-recording">Stop</button>

<h2>Recordings</h2>
<ul id="recordingslist"></ul>

<h2>Log</h2>
<pre id="log"></pre>

<script src="js/recorderjs/recorder.js"></script>
<script src="js/contribute_voice.js"></script>