<div id="events-container">

    <h1>Events</h1>

    <p>We regularly attend events, give talks and so on. Here you can find a selection of upcoming and past events we've attended</p>

    <section>
        <h2>2018</h2>
        <article>
            <h3>multivocal as a part of Catch at Click Festival</h3>
            As a part of the Catch exhibition at  <a href="https://www.clickfestival.dk/">Click Festival</a> in May 2018, we will present multivocal in a discussion about sound, representation, gender binaries and media arts.
        </article>

        <article>
            <h3>Presentation of multivocal at CRiSAP (Creative Research into Sound Arts Practice)</h3>
            We presented multivocal in a discussion about sound, representation, gender binaries at CRiSAP, London in the end of January 2018.
        </article>
    </section>

    <section>
        <h2>2017</h2>
        <article>
        <h3>Presentation of multivocal at ZKM</h3>
        We presented multivocal in a discussion about sound, representation, gender binaries and media arts ZKM in the end of September 2017.
        </article>

        <article>
        <h3>Presentation of multivocal at Driving IT conference, IDA.</h3>
        At <a href="https://universe.ida.dk/driving-it/">IDA's Driving IT</a> conference we presented multivocal and the politics of synthesized voices.
        </article>

        <article>
        <h3>multivocal at IDA, The Danish Society of Engineers</h3>
        multivocal recorded and listened to all ages, genders and people at IDA in November - December 2017.
        </article>

        <article>
        <h3>multivocal at the IT University of Copenhagen</h3>
        multivocal recorded and listened to all ages, genders and people at the IT University of Copenhagen September - October 2017.
        </article>

        <article>
        <h3>Presentation of multivocal at CPH Maker 2017</h3>
        We presented our first iteration of the multivocal voice and talk about the open source technology behind multivocal at CPH Maker in September 2017.
        </article>

        <article>
        <h3>multivocal at Techfestival 2017</h3>
        multivocal recorded and listened to all ages, genders and people at Techfestival (5-10 September 2017). We also gave a talk on the multivocal collective and participate in a meetup.
        </article>

        <article>
        <h3>Presentation of research at Audio Mostly 2017</h3>
        We presented the first of a series of listening tests at Audio Mostly: Augmented and Participatory Sound/Music Experiences (23-26 August 2017). This paper did not include the multivocal voice, instead we asked listeners to annotate and rate the synthesized voices from the IBM Watson Catalogue in order to map the listening experiences of existing synthesized voices. This research project was made in collaboration with researchers from Complex & Intelligent Systems, Passau University.
        </article>

        <article>
        <h3>multivocal at Roskilde Festival 2017</h3>
        multivocal recorded and listened to all ages, genders and people from around the world at Roskilde Festival. A diversity of voices were collected as part of the project The Voice of Roskilde at Roskilde Festival 2017. We gave an informal talk about the project on Thursday June 29th at 1pm.
        Organisers: UNDERBROEN
        </article>

        <article>
        <h3>multivocal at ACSIS 2017</h3>
        multivocal was be presented in the session Suspensions – Mobilizing Art and Aesthetics in Cultural Research at the ACSIS conference in June 2017
        This session grappled with the ways that art can be related to research practice within the diverse fields of cultural studies. It examined the role of subjectivity as well as various methodological entanglements of theory and empirical material. What happens when artistic practices are combined with the research practices of Cultural Sciences/Cultural Studies institutions? What happens when the practices of disciplines like visual culture, ethnology and cultural analysis are enmeshed with artistic practice? The session came from a workshop including cultural researchers and practicing artists held at The Department of Arts and Cultural Sciences at Lund University in October 2016.

        Organisers: Max Liljefors and Robert Willim, Lund University.
        </article>
    </section>
</div>