<h1 class="frontpage-headline">multivocal is a project exploring representation, identity and aesthetics of synthesized voices</h1>

<div class="frontpage-contribute-container">
    <h2 class="frontpage-byline">How to contribute</h2>
    <a href="/contribute-voice" class="frontpage-button">Add your voice</a>
    <a href="/rate-voices" class="frontpage-button">Rate existing</a>
</div>
