
<h1>Rate voices</h1>
<p>Thanks for helping! Please listen to the voice and give a thumbs up or down</p>

<p id="transcription"></p>

<button id="play-voice" class="button">Play</button>

<br>
<br>

<button id="rate-voice-pos" class="button rate-voice-btn">Yay</button>
<button id="rate-voice-pos" class="button rate-voice-btn">Nay</button>

<script src="js/rate_voices.js"></script>